doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(href='https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700' rel='stylesheet')
    link(rel='shortcut icon' href='/img/bottle.png' type='image/x-icon')
    link(rel='stylesheet' type='text/css' href='/style.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    script(type='module' defer='' src='/js/controller.js')
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    title KetchApp - Be your own chef
.container
    div 
        != messages('message', locals)
    header.header
        img.header__logo(src='/img/logo.png' alt='Logo')
        nav.nav
    div
        form(method='POST' action='/user/register')
            #form-group
                label Name:
                input.form-control(name='name' type='text')
            #form-group
                label Username:
                input.form-control(name='username' type='text')
            #form-group
                label Password:
                input.form-control(name='password' type='password')
            #form-group
                label Email:
                input.form-control(name='email' type='email')
            #form-group
                label Country:
                input.form-control(name='country' type='text')
            br
            input.btn.btn-primary(type='submit' value='Submit')
        br
        a(href='/user/login') Do you already hace an account?
